
html {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#library {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popUpForm {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}
div.form-example {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

#cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: solid black 2px;
  margin-top: 1rem;
  width: 100%;
}